<div class="main-card">
  <div class="login-card">
    <div class="image-box">
      <img
        class="img-box"
        src="../assets/images/codestak.png"
        alt="Codestak image"
      />
      <form class="form-card">
        <div class="input-field">
          <input type="text" placeholder="username" />
        </div>
        <div class="input-field">
          <input type="password" placeholder="password" />
        </div>
        <div class="button-field">
          <button>submit</button>
        </div>
       
      </form>
    </div>
    <!-- <div>demo</div> -->
  </div>
</div>
